table, tr,th, td{
    border: solid 3px rgb(9, 44, 30);
    background-color: rgb(18, 161, 107);
    text-align: center;
    padding: 15px;
    border-collapse: collapse;

}
body{
    background: linear-gradient(90deg, rgb(36, 143, 102) 0%, rgb(19, 99, 68) 35%, rgb(13, 75, 51) 100%);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}